langchain
langchain-core
langchain-community
langchain-text-splitters
pymupdf
langchain-groq
python-dotenv
langchain-huggingface
fastapi
python-multipart
pinecone-client
pinecone-text
langchain-pinecone
langchain-experimental
sentence-transformers
redis

